{{>nav}}

<p class="content-gal">Choose your favorite one!</p>
<p class="content-gal hidden">SURPRISE! They are more!</p>

<div class="content">
  <div class="img-gal">
    <div class="img-gal-photo hidden">
      <img src="../images/rabbit1.jpg" alt="">
      </div>
    <div class="img-gal-photo">
      <img src="../images/rabbit2.jpg" alt="">
    </div>
    <div class="img-gal-photo">
      <img src="../images/rabbit3.jpeg" alt="">
    </div>
    <div class="img-gal-photo hidden">
      <img src="../images/rabbit4.jpg" alt="">
    </div>   
  </div>
</div>

{{>footer}}
